body{
    background-color:#069FC5;
}
.max{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0px;
}
p{
    font-family:'Impact', 'Haettenschweiler', 'Arial Narrow Bold', 'sans-serif';
    font-size: 100px;

}
.hi{
    position: relative;
    margin-top:-50px;
    
}